.Stuff {
    margin-bottom: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 640px;
    max-height: 480px;
    margin-left: auto;
    margin-right: auto;
}

.StuffImage {
    width: 100%;    
}

.StuffInfo {
    padding: 20px;    
    flex-grow: 1;
}